@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 100;
  src: url("fonts/Vazir-Thin.eot");
  src: url("fonts/Vazir-Thin.woff") format("woff"), url("fonts/Vazir-Thin.ttf") format("ttf"), url("fonts/Vazir-Thin.woff2") format("woff2");
}

body {
  font-family: vazir;
}

/***********************************/
.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(gif/loader7.gif) center no-repeat #fff;
}

/***********************************/
.menu-icon {
  color: #8060d0;
  outline: none;
}

.container-fluid {
  padding: 0;
}

.main-pic {
  z-index: -1;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.header-main {
  color: white;
  position: fixed;
}

.header-main a {
  color: #fff !important;
  margin-bottom: 5px;
}

.header-main li:hover a {
  color: #8060d0 !important;
}

.header-main .hvr-underline-from-center:before {
  background-color: #8060d0;
  border-radius: 5px;
  height: 1px;
}

.container-title {
  display: inline-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.5rem;
  color: #fff;
  border-radius: 10px;
  /* position the div in center */
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
}

.container-title h1 {
  text-align: center;
}

.container-title h4 {
  margin-top: 15px;
  text-align: center;
  font-size: 1.1rem;
}

.abouttitle {
  text-align: center !important;
  float: none;
}

.abouttitle h2 {
  color: #5680e9;
}

.about-box {
  margin-bottom: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.151);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.151);
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.about-box .content-con {
  text-align: center;
}

.about-box .content-con #strong-title {
  font-size: 1.5rem;
  margin: 15px auto !important;
}

.about-box .content-con p {
  margin: 0;
  text-align: center;
}

.about-box .content-con p i {
  font-size: 3rem;
  color: #8060d0;
}

.about-box .content-con p a {
  color: #5680e9;
  text-decoration: none;
}

.about-box .content-con .col {
  text-align: center !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/***/
.hvr-bounce-to-left::before {
  border-radius: 10px !important;
  background-color: #8060d0;
}

.hvr-bounce-to-left:hover i {
  color: #c1c8e4 !important;
}

.hvr-bounce-to-left:hover a {
  color: #84cee8 !important;
}

.splide {
  text-align: center;
  margin: 0 10%;
}

/***/
@media screen and (max-width: 768px) {
  .main-pic {
    width: 280%;
    z-index: -5;
  }
  .splide {
    margin: 0 0 !important;
  }
  .header-main {
    background-color: #dbdbdb;
    z-index: 6;
    position: fixed;
    border-bottom: 0.5px solid #c5c5c5;
  }
  .header-main .navbar-nav {
    margin-top: 5px;
    background-color: #dbdbdb;
    z-index: 6;
  }
  .header-main .navbar-nav a {
    color: #8060d0 !important;
    z-index: 6;
  }
  .box-pic-con {
    overflow-x: hidden;
  }
  .container-title {
    z-index: 2;
  }
}
/*# sourceMappingURL=style.css.map */