@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 100;
  src: url("fonts/Vazir-Thin.eot");
  src: url("fonts/Vazir-Thin.woff") format("woff"),
    url("fonts/Vazir-Thin.ttf") format("ttf"),
    url("fonts/Vazir-Thin.woff2") format("woff2");
}
body {
 font-family: vazir;
}
/***********************************/
.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(gif/loader7.gif) center no-repeat #fff;
}
/***********************************/
.menu-icon {
  color: #8060d0;
  outline: none;
}
.container-fluid {
  padding: 0;
}
.main-pic {
  z-index: -1;
  position: sticky;
  bottom: 0;
}
.header-main {
  color: white;
  position: fixed;
  a {
    color: #8060d0!important;
    margin-bottom: 5px;
  }
  li:hover a {
    color: #fff!important;
  }
  .hvr-underline-from-center:before {
    background-color: #fff;
    border-radius: 5px;
    height: 1px;
  }
}
.container-title {
  //background-color: #8060d0;
  ///min-height: 300px;
  display: inline-flexbox;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
  color: #fff;
  border-radius: 10px;
  h1 {
    text-align: center;
    //font-size: min($numbers: 1.6rem);
  }
  h4 {
    margin-top: 15px;
    text-align: center;
    font-size: 1.1rem;
  }
  /* position the div in center */
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.abouttitle {
  text-align: center !important;
  float: none;
  h2 {
    color: #5680e9;
  }
}
.about-box {
  //border: 1px solid rgba(0, 0, 0, 0.253);
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.151);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  .content-con {
    text-align: center;
    #strong-title {
      font-size: 1.5rem;
      margin: 15px auto !important;
    }
    p {
      margin: 0;
      text-align: center;
      i {
        font-size: 3rem;
        color: #8060d0;
      }
      a {
        color: #5680e9;
        text-decoration: none;
      }
    }
    .col {
      text-align: center !important;
      align-items: center;
      justify-content: center;
    }
  }
}
/***/
.hvr-bounce-to-left::before{
  border-radius: 10px!important;
  background-color: #8060d0;
}
.hvr-bounce-to-left:hover i{
  color: #c1c8e4!important;
}
.hvr-bounce-to-left:hover a{
  color: #84cee8!important;
}
.splide{
  text-align: center;
  margin: 0 10%;
}
.nemoone{
  text-align: center;
  border-radius: 10px;
}
/***/
// .about-box:hover {
//   box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
//   transition: all 0.5s;
// }
@media screen and (max-width: 768px) {
  .main-pic {
    width: 280%;
    z-index: -5;
  }
  .splide{
    margin: 0 0!important;
  }
  .header-main {
    background-color: #dbdbdb;
    z-index: 6;
    position: fixed;
    border-bottom: 0.5px solid #c5c5c5;
    
    .navbar-nav {
      margin-top: 5px;
      background-color: #dbdbdb;
      z-index: 6;
      a {
        color: #8060d0 !important;
        z-index: 6;
      }
    }
  }
  .box-pic-con {
    overflow-x: hidden;
  }
  .container-title {
    z-index: 2;
  }
}
